:root {
    --color-1: #272727;
    --color-2: rgba(39, 39, 39, 0.60);
    --color-3: #E55473;
}


* {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 50px;

}

.banner-text {
    margin-right: 96;
}

.banner-text h4 {
    color: var(--color-1);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-text p {
    color: var(--color-2);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
}

.banner .btn-primary {
    background-color: var(--color-3);
    border: none;
    border-radius: 8px;
    padding: 20px 45px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.banner-image {

    width: 50%;
    height: auto;
}
.ff-title,.ff-desc{
    text-align: center;
}
.ff-title{
    color:var(--color-1);
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
}
.ff-desc{
    color:var(--color-2);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.featured-flowers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    margin: 0px 240px 32px 240px;
}

.featured-flowers-container .featured-flowers-1 {
    width: 50%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0px 76px;
}

.featured-flowers-container .featured-flowers-2 {
    width: 50%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 120px 50px 50px 50px;
}
.featured-flowers-container .featured-flowers-3 {
    width: 50%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 75px 0px 75px;
}
.ff-img-text-container{
    display: flex;
    justify-content: center;
    gap:300px;
}
.ff-img-text-container #ff-img-text{
    color: var(--color-1);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.services-container{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 130px 240px;
    padding-top: 45px;
    padding-bottom: 45px;
    gap:155px;
    text-align: center;
    color: var(--color-2);
}
